cryptography
langchain-groq
langchain-google-genai
langchain-core
langchain
datetime
langchain-community
werkzeug
python-dotenv
Flask-Mail
flask-session
flask
PyMuPDF
openpyxl
pymongo
python-pptx
bs4
requests
flask-socketio
flask-cors
concurrent-log-handler
whoosh
PyJWT
python-docx
fuzzywuzzy[speedup]
SpeechRecognition
gtts
numpy
nltk
scikit-learn
matplotlib
langchain-ollama
icecream
pypdf
faiss-cpu
captcha
APScheduler
sentence-transformers
langchain-elasticsearch
python-magic
flask-wtf
flask-restx
Flask-APScheduler
bleach